.nav-item {
    height: 80px;
}

.nav-links {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    padding: 0.5rem 0.25rem;
    text-decoration: none;
}

.nav-links:hover {
    color: #c29c77;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .nav-item {
        height: 50px;
    }

    .nav-links {
        display: table;
        padding: 2rem;
        text-align: center;
        width: 100%;
    }

    .nav-links:hover {
        background-color: #c29c77;
        border-radius: 0;
        color: #fff;
    }
}

