/* ======= Footer style ======= */
.footer {
    display: block;
    position: relative;
}

.footer-top {
    background-color: #222;
    display: block;
    padding: 90px 0 60px 0;
    position: relative;
    z-index: 1;
}

.footer-top .footer-column {
    margin-bottom: 30px;
}

.footer-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-about-text {
    color: #adadad;
    font-size: 15px;
    margin: 0;
}

.footer-about-social-list {
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-align: center;
    margin-top: 20px;
}

.footer-about-social-list a {
    align-items: center;
    background-color: transparent;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-about-social-list a + a {
    margin-left: 15px;
}

.footer-about-social-list a:hover {
    background-color: transparent;
    color: #aa8453;
}

.footer-explore-list li + li {
    margin-top: 3px;
}

.footer-explore-list li a {
    color: #adadad;
    display: block;
    font-size: 15px;
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-explore-list li a:hover {
    color: #aa8453;
    padding-left: 15px;
}

.footer-explore-list li a:before {
    background-color: #aa8453;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 6px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    width: 6px;
}

.footer-explore-list li a:hover:before {
    opacity: 1;
}

.footer-contact {
    display: block;
    position: relative;
}

.footer-contact .footer-title {
    margin-bottom: 20px;
}

.footer-contact-text {
    color: #adadad;
    font-size: 15px;
    margin: 0;
    padding-bottom: 20px;
}

.footer-contact-info p {
    margin: 0;
}

.footer-contact-phone {
    color: #fff;
    display: block;
    font-family: 'Gilda Display', serif;
    font-size: 24px;
    font-weight: 400;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-contact-phone:hover {
    color: #fff;
}

.footer-contact-mail {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 3em;
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-contact-mail:hover {
    color: #fff;
}

.footer-contact-mail:before {
    background-color: #aa8453;
    bottom: 9px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-contact-mail:hover:before {
    background-color: #aa8453;
}


/* language */
.footer-language {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    position: relative;
    width: 160px;
}

.footer-language i {
    color: #adadad;
    font-size: 15px;
    opacity: 0.6;
    position: absolute;
    right: 30px;
    top: 17px;
}

.footer-language select {
    background: #282828;
    border: 1px solid #282828;
    border-radius: 0px;
    color: #adadad;
    height: 50px;
}

.footer-language select option {
    color: #fff;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #adadad;
    color: #adadad;
    height: 70px;
    max-width: 100%;
    padding: 0 30px;
    width: 160px;
}


.footer-bottom {
    background-color: #1e1e1e;
    -webkit-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.05);
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.05);
    display: block;
    padding: 32px 0;
    position: relative;
}

.footer-bottom-inner {
    display: block;
    position: relative;
    text-align: center;
}

.footer-bottom-copy-right {
    color: #adadad;
    font-size: 12px;
    margin: 0;
}

.footer-bottom-copy-right a {
    color: #fff;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-bottom-copy-right a:hover {
    color: #aa8453;
}
