.facilties .single-facility {
    background: transparent;
    border: 1px solid #f1eeeb;
    line-height: 1;
    margin-bottom: 30px;
    padding: 30px 20px;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 1;
}

.facilties .single-facility h5 {
    color: #222;
    font-size: 24px;
    margin-bottom: 10px;
}

.facilties .single-facility:hover h5 {
    color: #222;
    -webkit-transition: .5s;
    transition: .5s;
}

/*
.facilties .facility-shape:hover span {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
*/
.facilties .single-facility span {
    color: #aa8453;
    display: inline-block;
    font-size: 45px;
    line-height: 1;
    margin-bottom: 20px;
    -webkit-transition: .5s;
    transition: .5s;
}

.facilties .single-facility p {
    color: #666;
    margin: 0;
}

.facilties .single-facility .facility-shape {
    bottom: 15px;
    left: 120px;
    opacity: 0.02;
    position: absolute;
    z-index: -1;
}

.facilties .single-facility .facility-shape span {
    color: #222;
    font-size: 140px;
}
