:root {
    --primary: #fff;
}

.btn {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    padding: 8px 20px;
}

.btn--primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: #242424;
}

.btn--outline {
    background-color: rgb(100, 66, 34);
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 8px 20px;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
}

.btn--outline:hover {
    background-color: #fff;
    color: rgb(100, 66, 34);
    transition: all 0.3s ease-out;
}

.btn--medium {
    font-size: 18px;
    padding: 8px 20px;
}

.btn--large {
    font-size: 20px;
    padding: 12px 26px;
}

.btn--large:hover,
.btn--medium:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
    transition: 250ms;
}
